html,body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.landing-main-bg {
  background-color: black;
  width: 100%;
  height: 130%;
}

.landing-main {
  display: table;
  color: white;
  width: 100%;
  height: 80%;
}

.landing-other {
  display: table;
  color: black;
  width: 100%;
  height: 100%;
}

.landing-content {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.landing-content h1 {
  font-size: 600%;
}

.navbar-default {
  opacity: 0;
  background-color: transparent;
  border: none;
}


.navbar-collapse {
  float:right;
  text-align: right;
  border: none;
}
